# rtorrrent
rtorrent/rtorrent/watch/*
rtorrent/rtorrent/session/*
rtorrent/rtorrent/downloads/*

# mpd
mpd/.config/mpd/database
mpd/.config/mpd/log
mpd/.config/mpd/stickerdatabase
mpd/.config/mpd/*.pid

# vim
vim/.vim/swap
vim/.vim/autoload
vim/.vim/.netrwhist

# python
*.pyc

# youtube-dl
.netrc