[submodule "programs/vscode/vscode-remote-wsl-nixos"]
	path = programs/vscode/vscode-remote-wsl-nixos
	url = https://github.com/sonowz/vscode-remote-wsl-nixos
[submodule "programs/neovim/neovim-config"]
	path = programs/neovim/neovim-config
	url = https://github.com/zeratax/neovim-config
